/*@import "node_modules/bootstrap/scss/bootstrap";*/

body {
  max-width: 100%;
}
.meal-plan-navbar {
  margin-bottom: 50px;
  background-color: white;
  text-align: center;
  width: auto;
}

.meal-plan-ul {
  text-align: center;
  margin-left: 425px;
}

.container-1 {
  background-color: #eedbf4;
  height: 500px;
  width: 100%;
}

.container-1 h1,
h2 {
  position: relative;
  top: 150px;
  left: 200px;
}

.button-add {
  background-color: black;
  border-style: solid;
  border-color: black;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 80px 650px 8px;
  cursor: pointer;
  position: relative;
  right: 400px;
  top: 50px;
}

.container-2-p {
  position: relative;
  left: 700px;
  top: 10px;
}

.search-box {
  font-family: "Rubik Mono One", sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 20px 550px 5px;
  margin-top: 65px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid rgb(148, 147, 147);
  box-sizing: border-box;
}
.container-md {
  margin-top: 150px;
}

.meal-container {
  position: relative;
  left: 5px;
  width: 400px;
  height: 400px;
  margin: 60px 8px 10px;
  margin-right: 50px;
  text-align: center;
}

.meal-container:nth-child(3n + 1) {
  border-style: solid;
  border-color: rgb(249, 246, 250);
  background-color: rgb(249, 246, 250);
  box-shadow: 5px 10px rgb(231, 233, 231);
}

.meal-container:nth-child(3n + 2) {
  border-style: solid;
  border-color: rgb(247, 237, 247);
  background-color: rgb(247, 237, 247);
}

.meal-container:nth-child(3n + 3) {
  border-style: solid;
  border-color: rgb(215, 212, 215);
  background-color: rgb(215, 212, 215);
}

.meal-images {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 65px;
  display: inline-block;
}

.meal-name-text {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 250px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Rubik Mono One", sans-serif;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

/*Search section*/
.container-2 {
  height: 10px;
}

.search-by-name {
  position: relative;
  top: 50px;
  left: 500px;
}

.search-text-box {
  height: 50px;
  width: 400px;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Rubik Mono One", sans-serif;
}

.meal-type-button {
  background-color: white;
  border-style: solid;
  border-color: black;
  color: black;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  //margin: 80px 650px 8px;
  cursor: pointer;
  position: relative;
  width: 200px;
  margin-top: 40px;
}

.meal-type-button:nth-child(3n + 1) {
  left: 300px;
  top: 50px;
}

.meal-type-button:nth-child(3n + 2) {
  left: 450px;
  top: 50px;
}

.meal-type-button:nth-child(3n + 3) {
  left: 600px;
  top: 50px;
}

.meal-type-button:hover {
  background-color: black;
  color: white;
}

.image-meal-type {
  width: 100px;
  height: 100px;
  left: 300px;
  position: relative;
}

/*Edit screen*/

.edit-screen-image {
  border-radius: 8px;
  width: 600px;
  height: 550px;
  position: relative;
  margin: 40px 450px 20px; //top left bottom right
}

.recipe-name-text-box-edit {
  font-family: "Rubik Mono One", sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 20px 500px 8px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid rgb(148, 147, 147);
  box-sizing: border-box;
}

.recipe-name-text-box-edit:hover {
  opacity: 0.3;
}

.recipe-text-area-box-edit {
  font-family: "IBM Plex Mono", monospace;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 500px 8px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid rgb(148, 147, 147);
  box-sizing: border-box;
}

.recipe-text-area-box-edit:hover {
  opacity: 0.3;
}

.rating-edit {
  padding: 12px 20px;
  margin: 8px 500px 8px;
  display: inline-block;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 650px 8px;
  cursor: pointer;
  border-radius: 25px;
}

.button-delete {
  background-color: rgb(248, 63, 63);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 650px 8px;
  cursor: pointer;
  border-radius: 25px;
}

.lunch-dinner-checkbox-form {
  margin-left: 100px;
}
/*navbar*/

/* Overriding bootstrap using Sass

.btn-success {
  position: absolute;
}
*/
