{% block stylesheets %}
        <!--access to stylesheet -->
            <link rel="stylesheet" href="{{ asset('build/app.css')}}">
{% endblock %}
<header>
    <nav class="navbar">
        <a href="#" class="nav-branding">MP</a>

        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Recipes</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Lunch</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Dinner</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Shopping List</a>
            </li>
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>    