{% extends "./base.html.twig" %}

{% block body %}


 <!-- Modal Bootstrap v5 TODO: Move this to another file as not to crowd this file-->
    <div class="modal fade" id="new-recipe-modal" tabindex="-1" role="dialog" aria-labelledby="recipe-modal-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-container">
                <div class="modal-header">
                    <h5 class="modal-title" id="recipe-modal-title">Recipe</h5>
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>-->
                </div>
                <div class="modal-body recipe-steps-container">
                <div class="d-flex steps-description-header">
                    <p class="step-id-recipe p-2">Step</p>
                    <p class="step-description p-2 px-3">Description<p>
                </div>
                    {{ form_start(addNewRecipeForm,{'attr': {'class': 'ajax-form'}}) }}
                    {{ form_widget(addNewRecipeForm) }}
                
                    <div class="recipe-modal-footer">
                        <button type="submit" class="cancel-btn">Cancel</button>
                        {# <a href="/meal/{{mealID}}/new-recipe" method="POST">Submit</a> #}
                       <button type="submit" class="btn btn-success save-new-recipe-btn">SAVE</button>
                    </div>
                    {{ form_end(addNewRecipeForm) }}

                    <div class="add-next-step-div">
                        <button type="submit" class="add-next-step-btn">Add Next Step!</button>
                    </div>

                    <!--This div will have to go inside the form at some point -->
                    <div class="notes-section-container">

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}